* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background: linear-gradient(130, #FFF, #CECECE);
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

p {
  padding: 50px;
}
